.side-menu {
  display: block;
  width: 0%;
  padding: 0;
  border-top: 4px solid $color-secondary;
  border-bottom: 4px solid $color-secondary;
  height: 100vh;
  visibility: hidden;
  ol {
    font-size: 2.3em;
    list-style-type: none;
    display: none;
  }
}


//MEDIA QUERIES

@media only screen and (min-width: 700px) {

}

@media only screen and (min-width: 1000px) {
  .side-menu {
    width: 25%;
    vertical-align: middle;
    visibility: visible;
    overflow: scroll;
    animation: slide 1.5s linear;
    background-color: rgba(0,0,0,0.5);
    border-right: 4px solid palette(amethyst, base);
    margin-top: 1px;
    position: fixed;
    ol {
      display: block;
      margin-top: 20px;
      margin-bottom: 200px;
      padding: 0;
      animation: slide 1.5s linear;
    }
    li {
      color: $white;
      text-shadow: 2px 2px 5px palette(amethyst, x-dark);
      font-family: $font-family--secondary;
      text-align: right;
      margin-bottom: 60px;
      padding-right: 20px;
      line-height: .8em;
      transform: scale(1,1.5);
      transition: background-color .5s;
    &:hover {
      background-color: rgba(255,255,255,0.2);
    }
    }
  }

  @keyframes slide {
    0% {
      transform: translate(-250px,0);
    }
    100% {
      transform: translate(0, 0);
    }
  }

}
