header {
  width: 100%;
  height: 91px;
  position: relative;
  z-index: 999;
  border-bottom: 10px solid #67ffac;
  box-shadow: 0 0 10px black;
  position: fixed;
  background-color: #90FFC2; }
  header nav {
    width: 100%;
    display: inline-block; }
  header .homie {
    font-family: "Rajdhani", sans-serif;
    font-size: 2em;
    margin-left: 50px; }
  header img {
    width: 50px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 100%;
    border: 2px solid black;
    margin-right: 10px;
    vertical-align: middle; }
  header ul, header span {
    color: #A76BCC;
    display: inline-block;
    margin: 10px; }
  header span {
    font-family: "Khand", sans-serif;
    font-size: 3em;
    text-shadow: 0 2px 0 #FFFBF4;
    margin-left: 3%; }
  header ul {
    float: right;
    margin-right: 30px; }
  header li {
    display: inline-block;
    margin-right: 5px; }

body {
  font-family: "Rajdhani", sans-serif;
  margin: 0;
  padding: 0; }
  body .container {
    display: inline-block;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%), url(assets/sasBG.jpg);
    background-size: 200px 200px; }

.super-block {
  width: 100%;
  margin-top: 101px;
  display: inline-flex;
  justify-content: space-between;
  overflow: hidden; }

.main-content {
  display: inline-flex;
  justify-content: center;
  width: 74.5%;
  margin: 0 auto;
  min-height: 600px;
  overflow: scroll; }

div.main-photo {
  width: 100%;
  display: inline-flex;
  justify-content: flex-end;
  align-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
  overflow: scroll; }

div.solo {
  background: rgba(0, 0, 0, 0.8); }

div.photo-solo {
  width: 100%;
  height: auto; }
  div.photo-solo img {
    height: auto;
    background: rgba(0, 0, 0, 0.8);
    opacity: 1; }
  div.photo-solo h3 {
    color: white; }

.img-wrapper {
  margin: 10px auto;
  max-width: 300px;
  display: inline-flex;
  flex-direction: column;
  align-self: center; }
  .img-wrapper h3, .img-wrapper span {
    display: inline-block;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    z-index: 1; }
  .img-wrapper img {
    width: 100%;
    height: 300px;
    margin: 0 auto;
    box-shadow: 0 0 10px 2px black;
    z-index: 2;
    transition: opacity .35s ease-in-out, box-shadow .35s ease-in-out;
    opacity: .7;
    cursor: pointer; }
    .img-wrapper img:hover {
      opacity: 1;
      box-shadow: 0 0 20px 2px black; }
  .img-wrapper .active {
    display: none; }

@media only screen and (min-width: 700px) {
  .img-wrapper {
    width: 48%;
    vertical-align: top;
    margin: 0 auto; }
    .img-wrapper h3, .img-wrapper span {
      display: inline-block;
      width: 100%;
      margin-bottom: 0;
      text-align: center; }
    .img-wrapper img {
      width: 100%;
      margin: 0 auto; } }

@media only screen and (min-width: 1000px) {
  .main-content {
    margin-left: 25%; }
  .super-block {
    width: 100%; }
  div.main-photo {
    width: 100%;
    margin-right: 0;
    overflow: scroll; }
  .img-wrapper {
    width: 30%;
    vertical-align: top; }
    .img-wrapper h3, .img-wrapper span {
      display: inline-block;
      width: 100%;
      margin-bottom: 0;
      text-align: center; }
    .img-wrapper img {
      width: 90%;
      margin: 0 auto; }
  div.photo-solo {
    width: 70%;
    margin-top: 25%;
    margin-bottom: 25%;
    transition: transform 2s ease;
    transform: scale(1.2, 1.5); } }

.side-menu {
  display: block;
  width: 0%;
  padding: 0;
  border-top: 4px solid #A76BCC;
  border-bottom: 4px solid #A76BCC;
  height: 100vh;
  visibility: hidden; }
  .side-menu ol {
    font-size: 2.3em;
    list-style-type: none;
    display: none; }

@media only screen and (min-width: 1000px) {
  .side-menu {
    width: 25%;
    vertical-align: middle;
    visibility: visible;
    overflow: scroll;
    animation: slide 1.5s linear;
    background-color: rgba(0, 0, 0, 0.5);
    border-right: 4px solid #A76BCC;
    margin-top: 1px;
    position: fixed; }
    .side-menu ol {
      display: block;
      margin-top: 20px;
      margin-bottom: 200px;
      padding: 0;
      animation: slide 1.5s linear; }
    .side-menu li {
      color: #FFFBF4;
      text-shadow: 2px 2px 5px #803bab;
      font-family: "Khand", sans-serif;
      text-align: right;
      margin-bottom: 60px;
      padding-right: 20px;
      line-height: .8em;
      transform: scale(1, 1.5);
      transition: background-color .5s; }
      .side-menu li:hover {
        background-color: rgba(255, 255, 255, 0.2); }
  @keyframes slide {
    0% {
      transform: translate(-250px, 0); }
    100% {
      transform: translate(0, 0); } } }

footer {
  height: 50px;
  width: 100%;
  display: inline-block;
  position: relative;
  background-color: #90FFC2;
  z-index: 9999;
  border-top: 10px solid #67ffac;
  box-shadow: 0 0 10px black;
  color: #A76BCC;
  font-size: 2.4em;
  text-align: center; }
